name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  validate:
    uses: ./.github/workflows/validate.yml

  release:
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'
    needs: validate
    uses: ./.github/workflows/release.yml
